@HeaderHeight: 40px;
@MinimalWidth: 400px;

body, div, p, header, footer {
  font-family: Helvetica, FreeSans, 'Liberation Sans', Helmet, Arial, sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 0;
}

.invisible {
  display: none;
}

.box-sizing(@sizing) {
  box-sizing: @sizing;
  -moz-box-sizing: @sizing;
}

header {
  background-color: #222222;
  height: @HeaderHeight;

  .headerContainer {
    max-width: 1200px;
    min-width: @MinimalWidth;
    margin: auto;

    .button {
      display: block;
      line-height: @HeaderHeight - 4;
      height: @HeaderHeight - 4;
      width: @HeaderHeight - 4;
      text-align: center;
      margin: 2px 4px;
      background-color: #444;
      color: white;
      overflow: hidden;
      cursor: pointer;

      &:hover {
        background-color: #777;
      }
    }

    #logout {
      float: right;
    }

    #showDone {
      float: left;
    }
  }
}

.globalContainer {
  position: absolute;
  top: @HeaderHeight;
  bottom: 0;
  left: 0;
  right: 0;

  .innerContainer {
    max-width: 1200px;
    min-width: @MinimalWidth;
    height: 100%;
    margin: auto;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
    position: relative;
    top:0;
    bottom:0;
    left: 0;
    right: 0;

    #leftSidebar {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 200px;
      float: left;
      border-right: 1px solid #DDD;
      box-sizing: border-box;

      #entryGroupListContainer {

        .entryGroupRow {
          cursor: pointer;
          padding: 4px 0px;

          &.selected {
            font-weight: bold;
          }

          &:hover{
            background: #DDD;
          }
        }

        #addGroup {
          .entryGroupRow;
        }
      }

    }

    #mainArea {
      position: absolute;;
      left: 200px;
      top: 0;
      right: 0;
      bottom: 0;

      .entryListContainer {
        display: table;
        width: 100%;
        border-collapse: collapse;

        .entryRow{
          display: table-row;
          border-top: 1px solid #DDD;
          border-bottom: 1px solid #DDD;
          width: 100%;
          height: 30px;

          .changeStateCell {
            display: table-cell;
            padding: 2px 4px;
            width: 40px;
          }

          .contentCell {
            display: table-cell;
            padding: 2px 2px;
          }

          .controlCell {
            display: table-cell;
            padding: 2px 4px;
            width: 70px;
          }

          &[data-stateId="2"] {
            background: #EEE;
            .changeStateCell button {
              display: none;
            }

            .contentCell {
              text-decoration: line-through;
            }
          }
        }

        .editEntryForm {
          .contentCell {
            padding-left: 0px;

            input {
              padding: 3px 1px;
              margin: 0px;
              border: 1px solid #999;
              .box-sizing(border-box);
            }
          }

          .controlCell {
            width: 70px;

            button {
              display: inline;
            }
          }
        }


      }

    }
  }


  .popupContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(30, 30, 30, 0.5);
    z-index: 1;
    display: none;

    .popup {
      background: white;
      margin: 0 auto;
      width: @MinimalWidth - 10;

      .header {

      }

      .fields {

      }

      .footer {

      }

    }
  }

}
