@HeaderHeight: 40px;
@MinimalWidth: 400px;
@RowHeight: 32px;
@RowControlElementHeight: @RowHeight - 7;
@LightLightGray: #F5F7FA;
@LightGray: #E6E9ED;
@LightMediumGray: #CCD1D9;
@MediumGray: #AAB2BD;
@LightDarkGray: #656D78;
@DarkGray: #434A54;
@LightGreen: #A0D468;
@Green: #8CC152;
@DarkGreen: #3c763d;
@LightRed: #FC6E51;
@Red: #DA4453;


body, div, p, header, footer, input, button {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

.invisible {
  display: none;
}

.box-sizing(@sizing) {
  box-sizing: @sizing;
  -moz-box-sizing: @sizing;
}

.nonselectable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.iconified {
  font-size: 20px;
  padding: 0;
  margin: 0;
  line-height: 1;
  font-family: FontAwesome;
}

header {
  background-color: @DarkGray;
  height: @HeaderHeight;

  .headerContainer {
    max-width: 1200px;
    min-width: @MinimalWidth;
    margin: auto;

    .button {
      .nonselectable;
      display: block;
      height: @HeaderHeight - 4;
      width: @HeaderHeight - 4;
      text-align: center;
      margin: 2px 4px;
      color: @LightMediumGray;
      overflow: hidden;
      cursor: pointer;
      vertical-align: middle;

      &:hover {
        color: white;
      }
    }

    #logout {
      .box-sizing(border-box);
      float: right;
      text-decoration: none;
      padding-top: 8px;

      &:before {
        .iconified;
        content: "\f011";
      }
    }

    #showDone {
      float: left;
      padding-top: 7px;
      .box-sizing(border-box);
      &.doneShown {
        &:before {
          .iconified;
          content: "\f06e";
          text-decoration: none;
        }
      }

      &.doneNotShown {
        &:before {
          .iconified;
          content: "\f070";
          text-decoration: none;
        }
      }
    }
  }
}

.globalContainer {
  position: absolute;
  top: @HeaderHeight;
  bottom: 0;
  left: 0;
  right: 0;

  .innerContainer {
    max-width: 1200px;
    min-width: @MinimalWidth;
    height: 100%;
    margin: auto;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
    position: relative;
    top:0;
    bottom:0;
    left: 0;
    right: 0;

    #leftSidebar {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 200px;
      float: left;
      border-right: 1px solid #DDD;
      box-sizing: border-box;

      #entryGroupListContainer {

        .entryGroupRow {
          cursor: pointer;
          padding: 4px;

          &.selected {
            font-weight: bold;
          }

          &:hover{
            background: #DDD;
          }
        }

        #addGroup {
          height: @RowHeight;
          cursor: pointer;
          line-height: @RowHeight;
          padding: 0px 4px;

          &:after {
            .iconified;
            font-size: 14px;
            content: "\f067";
            float: right;
            padding-top: 9px;
          }

          &:hover {
            color: @DarkGreen;
            text-decoration: underline;
            background: @LightGray;
          }
        }
      }

    }

    #mainArea {
      position: absolute;;
      left: 200px;
      top: 0;
      right: 0;
      bottom: 0;

      #entryListViewContainer{

        .entryListContainer {
          display: table;
          width: 100%;
          border-collapse: collapse;
          table-layout: fixed;

          .entryRow{
            display: table-row;
            border-top: 1px solid #DDD;
            border-bottom: 1px solid #DDD;
            height: @RowHeight;
            padding: 0;

            .changeStateCell {
              display: table-cell;
              text-align: center;
              vertical-align: middle;
              width: 30px;
              padding-left: 4px;
            }

            .contentCell {
              display: table-cell;
              vertical-align: middle;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              padding-left: 2px;
            }

            .controlCell {
              display: table-cell;
              vertical-align: middle;
              width: 54px;

              .editEntry {
                background: white;
                border: 0;
                outline: none;
                color: @LightMediumGray;

                &:before {
                  .iconified;
                  content: "\f040";
                }

                &:hover{
                  color: @LightDarkGray;
                }

                &:active{
                  color: @DarkGray;
                  border: 0;
                }
              }
            }

            &[data-stateId="2"] {
              background: @LightLightGray;

              .changeStateCell {
                .changeEntryState {
                  display: none;
                }
              }

              .contentCell {
                text-decoration: line-through;
              }

              .controlCell {
                .editEntry {
                  background: @LightLightGray;
                }
              }
            }

            &[data-stateId="1"] {

              .changeStateCell{
                .changeEntryState {
                  display: block;
                  background: white;
                  border: 0;
                  outline: none;
                  color: @LightMediumGray;

                  &:before {
                    .iconified;
                    content: "\f00c";
                  }

                  &:hover{
                    color: @LightDarkGray;
                  }

                  &:active{
                    color: @DarkGray;
                  }
                }
              }
            }
          }

          .editEntryForm {

            height: @RowHeight;

            .contentCell {
              padding-right: 4px;
              padding-left: 0px;

              input {
                outline: none;
                padding: 3px 1px;
                margin: 0px;
                width: 100%;
                border: 1px solid #999;
                .box-sizing(border-box);
              }
            }

            .controlCell {
              .okEditEntry {
                display: inline-block;
                background: white;
                color: @DarkGreen;
                border: 1px solid @DarkGreen;
                outline: none;
                width: @RowControlElementHeight;
                height: @RowControlElementHeight;

                &:before {
                  .iconified;
                  content:"\f00c";
                }

                &:hover {
                  color: white;
                  background: @Green;
                }

                &:active {
                  background: @LightGreen;
                }
              }

              .cancelEditEntry {
                display: inline-block;
                background: white;
                color: @Red;
                border: 1px solid @Red;
                outline: none;
                width: @RowControlElementHeight;
                height: @RowControlElementHeight;

                &:before {
                  .iconified;
                  content:"\f00d";
                }

                &:hover {
                  color: white;
                  background: @Red;
                }

                &:active {
                  background: @LightRed;
                }
              }
            }
          }
        }

        .newEntryCreationArea {
          height: @RowHeight;
          display: table;

          .textFieldContainer {
            display: table-cell;
            width: 100%;
            vertical-align: middle;
            padding-left: 4px;
            padding-right: 4px;

            #newEntryContent {
              width: 100%;
              height: @RowControlElementHeight;
              .box-sizing(border-box);
              outline: none;
            }
          }

          .buttonContainer {
            display: table-cell;
            vertical-align: middle;
            padding-right: 4px;

            #createNewEntryBtn {
              width: 80px;
              color: @DarkGreen;
              background: white;
              outline: none;
              border: 1px solid @DarkGreen;
              height: @RowControlElementHeight;
              .box-sizing(border-box);

              &:before {
                .iconified;
                font-size: 14px;
                padding-right: 6px;
                display: inline;
                content: "\f067";
              }

              &:hover {
                background: @Green;
                color: white;
              }

              &:active {
                background: @LightGreen;
              }
            }
          }
        }
      }
    }
  }


  .popupContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(30, 30, 30, 0.5);
    z-index: 1;
    display: none;

    .popup {
      background: white;
      margin: 0 auto;
      width: @MinimalWidth - 10;

      .header {

      }

      .fields {

      }

      .footer {

      }

    }
  }

}
