@()

@layout("ps") {
    <header>
        <div class="headerContainer">
            <a class="button" id="showDone">DN</a>
            <a class="button" id="logout" href="/logout">Logout</a>
        </div>
    </header>
    <div class="globalContainer">
        <div class="innerContainer">
            <div id="leftSidebar">

            </div>
            <div id="mainArea">

            </div>
        </div>
        <div class="invisible" id="invisibleContainer">
            <form class="editEntryForm entryRow">
                <div class="changeStateCell"></div>
                <div class="contentCell">
                    <input type="text" id="entryContent"/>
                </div>
                <div class="controlCell">
                    <button class="okEditEntry" type="submit">Ok</button>
                    <button class="cancelEditEntry">C</button>
                </div>
            </form>
        </div>

        <div class="popupContainer" id="editGroupForm">
            <div class="popup">
                <form>
                    <div class="header">
                        <button id="closePopup" type="button">X</button>
                    </div>
                    <div class="fields">
                        <input type="text" id="groupName">
                    </div>
                    <div class="footer">
                        <button id="okEditGroup" type="submit">Ok</button>
                        <button id="cancelEditGroup" type="button">Cancel</button>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <script type="text/html" id="entryListTemplate">
        <div id="entryListViewContainer">
            <form>
                <div class="newEntryCreationArea">
                    <input type="text" id="newEntryContent"/>
                    <button id="createNewEntryBtn">Create</button>
                </div>
            </form>
            <div class="entryListContainer">
                <% entries.each(function (entry) { %>
                    <div class="entryRow" data-stateId='<%= entry.get("stateId") %>' data-id="<%= entry.get('id') %>">
                        <div class="changeStateCell">
                            <button class="changeEntryState">F</button>
                        </div>
                        <div class="contentCell">
                            <%= entry.get('content') %>
                        </div>
                        <div class="controlCell">
                            <button class="editEntry">E</button>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </script>

    <script type="text/html" id="entryGroupListTemplate">
        <div id="entryGroupListContainer">
            <% entryGroups.each(function (group) { %>
                <div class="entryGroupRow" data-id="<%= group.get('id') %>">
                    <%= group.get('name') %>
                </div>
            <% }); %>
            <div id="addGroup">
                Add group
            </div>
        </div>
    </script>
}