@()

@layout("ps") {
    <header>

    </header>
    <div class="globalContainer">
        <div class="innerContainer">
            <div id="leftSidebar">

            </div>
            <div id="mainArea">

            </div>
        </div>
    </div>
    <div class="invisible">
        <div id="entryListView">
            <h1>
                Entry list view
            </h1>
        </div>
    </div>

    <script type="text/html" id="entryListTemplate">
        <div>
            <% entries.each(function (entry) { %>
                <div>
                    <div>
                        <%= entry.get('id') %>
                    </div>
                    <div>
                        <%= entry.get('content') %>
                    </div>
                    <div>
                        <%= entry.get('statusId') %>
                    </div>
                </div>
            <% }); %>
        </div>
    </script>

    <script type="text/html" id="entryGroupListTemplate">
        <div>
            <% entryGroups.each(function (group) { %>
            <div>
                <div>
                    <%= group.get('id') %>
                </div>
                <div>
                    <%= group.get('name') %>
                </div>
            </div>
            <% }); %>
        </div>
    </script>
}